  <div class="new-comment-form" style="margin-bottom:2em">
    <div class="col-md-9">
      <%= form_for([@article, @article.comments.build]) do |f| %>

      <%= f.label :"Your comment" %>
      <%= f.text_area :body, class: 'form-control' %>

      <%= f.label :"Your name" %>
      <%= f.text_field :commenter, class: 'form-control name' %>

      <%= f.submit :"Send", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

