<div class="row new-article-form" style="margin-bottom:2em">
  <div class="col-md-12 col-md-offset-0">
    <%= form_for @article do |f| %>

    <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    
    <div class="row">
      <%= f.label :title, style: 'margin-bottom:0;   margin-top:1em' %>
      <div class="note">Less than 100 characters</div>  
      <%= f.text_field :title, class: 'form-control', maxlength: 100 %>

      <%= f.label :description, style: "margin-bottom:0; margin-top:0.5em"%>
      <div class="note">Less than 270 characters</div>  
      <%= f.text_area :description, class: 'form-control description', :maxlength => 270 %>

      <div style="margin-bottom: 2em; margin-top:2em">
        <%= f.label :text, :style=>'margin-bottom: 0.5em' %>
        <%= f.text_area :text, class: 'form-control text_area', style:'margin-bottom: 2em'%>
      </div>

      <% if current_page?(:controller => 'articles', :action => 'new') %>
      <%= f.submit :"Create Article", class: "btn btn-primary" %>
      <% else %>
      <%= f.submit :"Update Article", class: "btn btn-primary" %>
      <% end %>
    </div>

    <% end %>
  </div>
</div>


