  <div class="app header">
    <!-- navbar-fixed-top -->
    <header class="navbar  navbar-inverse">
      <div class="container">
       <div class="navbar-header">
        <button type="button" class="navbar-toggle navbar-default" data-toggle="collapse" data-target=".navbar-collapse" style="background-color:#D3D3D3; ">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="navbar-collapse collapse" style="padding-right:15px;">
        <ul class="nav navbar-nav navbar-left row">
          <li><a href= "https://www.facebook.com/manh.tran.103">
            <div class="fb img" id="fbimg"></div>
          </a></li>

          <li> <a href= "mailto:manhnus@gmail.com">
            <div class="gm img" id="gmimg"></div>
          </a></li>

          <li><a href= "https://twitter.com/manhtran0811">
            <div class="tw img" id="twimg"></div> 
          </a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Articles", articles_path %></li>
          <li><%= link_to "Videos", videos_path %></li>

          <li><%= link_to "About", about_path %></li>
          <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Manh Tran <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
          <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>

  <div class="container-img">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="row">

          <div class="col-md-2">
            <div class="profile">
            </div>
          </div>

          <div class="col-md-10">
            <div class="row">
              <div class="col-md-12 text">
                MANH TRAN website
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 small-text">
              What I like and care about. What I share and talk about..
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>