<!DOCTYPE html>
<html>
<head>
  <title>My Personal Website</title>

  <%= stylesheet_link_tag "application", media: "all",
  "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head> 

<body id="body-content">
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>

    <%= render 'layouts/footer' %>
  </div>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag '/javascript/ckeditor/ckeditor.js' %>

  <script type="text/javascript">$(document).ready(function() {
    if ($('.text_area').length > 0) {
      var data = $('.text_area');
      $.each(data, function(i) {
        CKEDITOR.replace(data[i].id);
        CKEDITOR.basePath = '/assets/ckeditor/';
      });
    }
  });</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  
</body>
</html>